:root {
  --text-white: rgba(250, 251, 255, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  height: 100vh;
  background: linear-gradient(360deg, rgb(10, 19, 42) 0%, rgb(28, 33, 45) 14%, rgb(47, 47, 47) 27.5%, rgb(28, 33, 45) 41%, rgb(10, 19, 42) 53.5%, rgb(28, 33, 45) 66%, rgb(47, 47, 47) 77.5%, rgb(28, 33, 45) 88.5%, rgb(10, 19, 42) 100%);
  background-repeat: no-repeat;
  color: var(--text-white);
}

/* Global Classes */

.column {
  display: flex;
  flex-direction: column;
}

.columnAlignCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}